html,
body {
  margin: 0;
  padding: 0;

  background: linear-gradient(45deg, #ff3701, #aa2296, #8338ec, #8338ec);
  background-size: 500% 500%;
  animation: gradient 5s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
